unpackaged/main/default/flows/Academic_Operations_Hold_Creation_Workflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assign_Hold_on_Student</name>
        <label>Assign Hold on Student</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>assignHoldOnStudent</actionName>
        <actionType>assignHoldOnStudent</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>StudentID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>regulatoryCodeId</name>
            <value>
                <elementReference>RegulatoryCodeID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>regulationClauseIds</name>
            <value>
                <elementReference>RegClauseVersions</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expressionSetIds</name>
            <value>
                <elementReference>Get_Regulation_Clause_Expression_Set.expressionSetIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextIds</name>
            <value>
                <elementReference>ContextIDList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>assignHoldOnStudent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>$Record.EnrollmentReason</assignToReference>
            <name>assignedViolationId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Regulation_Clause_Expression_Set</name>
        <label>Get Regulation Clause Expression Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>getRelatedPolicyRules</actionName>
        <actionType>getRelatedPolicyRules</actionType>
        <connector>
            <targetReference>Save_Reg_Clause_Version</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>RegClauseVersions</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <stringValue>RegulationClauseVersion</stringValue>
            </value>
        </inputParameters>
        <nameSegment>getRelatedPolicyRules</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Run_Policy_Rule</name>
        <label>Run Policy Rule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>executeExprSetWithContext</actionName>
        <actionType>executeExprSetWithContext</actionType>
        <connector>
            <targetReference>Save_ContextId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>RecordId</name>
            <value>
                <elementReference>StudentID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ExpressionSetApiName</name>
            <value>
                <elementReference>Get_Policy_Rule_Name.ApiName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>executeExprSetWithContext</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Query_Tags</name>
        <label>Assign Query Tags</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RuleTagList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Student_isHoldApplicable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Policy_Rule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_ContextId</name>
        <label>Save ContextId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContextIDList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Run_Policy_Rule.ContextId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Each_Policy_Rule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add Reg Clause Versions to a collection variable</description>
        <name>Save_Reg_Clause_Versions</name>
        <label>Save Reg Clause Versions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RegClauseVersions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Save_Reg_Clause_Version.RegulationClauseVersionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Regulation_Clause_Expression_Set</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>RegulatoryCodeID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0fCWs0000002rbJMAQ</stringValue>
        </value>
    </constants>
    <constants>
        <name>StudentID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>001Ws00004GQNPBIA5</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Academi {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Academic Operations : Hold Creation Workflow</label>
    <loops>
        <name>Run_Each_Policy_Rule</name>
        <label>Run Each Policy Rule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Regulation_Clause_Expression_Set.expressionSetIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Policy_Rule_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Hold_on_Student</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Save_Reg_Clause_Version</name>
        <label>Save Reg Clause Version</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Query_Regulation_Clause_Junction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Save_Reg_Clause_Versions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Run_Each_Policy_Rule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Policy_Rule_Name</name>
        <label>Get Policy Rule Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Query_Tags</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Run_Each_Policy_Rule</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ExpressionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_Regulation_Clause_Junction</name>
        <label>Query Regulation Clause Junction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_Reg_Clause_Version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RegulatoryCodeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RegulatoryCodeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RgltyCodeRegClauseVer</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Query_Regulation_Clause_Junction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TermGradePointAverage</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>2.5</numberValue>
            </value>
        </filters>
        <object>AcademicTermEnrollment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ContextIDList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegClauseVersions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RuleTagList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
