unpackaged/main/default/flows/EDU_Student_Financials_Academic_Order_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Creates Academic Order record for the given student</description>
        <name>Create_Academic_Order</name>
        <label>Create Academic Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>createLearnerOrder</actionName>
        <actionType>createLearnerOrder</actionType>
        <connector>
            <targetReference>Get_Order_Products</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>$Record.LearnerContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>academicTermId</name>
            <value>
                <elementReference>$Record.AcademicTerm.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pricebookId</name>
            <value>
                <elementReference>Standard_Price_Book</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderStatus</name>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEnrolledPrograms</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>courseOfferingParticipantStatus</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>learnerProgramStatus</name>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputParameters>
        <nameSegment>createLearnerOrder</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>Standard_Price_Book</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01sWs000002kn3tIAA</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Checks if student is a campus resident</description>
        <name>Residency_Check</name>
        <label>Residency Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resident_Student</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Learner_Profile.IsCampusResident</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discount_Tuition_for_Resident_Students</targetReference>
            </connector>
            <label>Resident Student</label>
        </rules>
    </decisions>
    <description>Triggered when a student&#39;s Academic Term Enrollment changes to &#39;Active&#39;. Creates a corresponding Academic Order record.</description>
    <environments>Default</environments>
    <interviewLabel>EDU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EDU Student Financials: Academic Order Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Learner_Profile</name>
        <label>Get Learner Profile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Residency_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AcademicTermEnrollmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LearnerProfile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Learner_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Academic_Order.orderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Academic_Order</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EnrollmentStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>AcademicTermEnrollment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Discount_Tuition_for_Resident_Students</name>
        <label>Discount Tuition for Resident Students</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>EDU_Student_Financials_Discount_Tuition</flowName>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>Create_Academic_Order.orderId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
