unpackaged/main/default/flows/EDU_Student_Financials_Discount_Tuition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Build_Order_Context</name>
        <label>Build Order Context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>buildContext</actionName>
        <actionType>buildContext</actionType>
        <connector>
            <targetReference>Query_Tags_Pre_Rule_Run</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contextDefinitionId</name>
            <value>
                <stringValue>EduOrder__stdctx</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextData</name>
            <value>
                <elementReference>ContextData</elementReference>
            </value>
        </inputParameters>
        <nameSegment>buildContext</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ContextId</assignToReference>
            <name>contextId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Persist_Context_Data</name>
        <label>Persist Context Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>persistContextData</actionName>
        <actionType>persistContextData</actionType>
        <connector>
            <targetReference>Update_Academic_Order</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>ContextId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>persistContextData</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Query_Tags_Post_Rule_Run</name>
        <label>Query Tags Post Rule Run</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>queryContextTags</actionName>
        <actionType>queryContextTags</actionType>
        <connector>
            <targetReference>Persist_Context_Data</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>ContextId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsList</name>
            <value>
                <elementReference>QueryTags</elementReference>
            </value>
        </inputParameters>
        <nameSegment>queryContextTags</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Query_Tags_Pre_Rule_Run</name>
        <label>Query Tags Pre Rule Run</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>queryContextTags</actionName>
        <actionType>queryContextTags</actionType>
        <connector>
            <targetReference>Run_Pricing_Rules</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>ContextId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tagsList</name>
            <value>
                <elementReference>QueryTags</elementReference>
            </value>
        </inputParameters>
        <nameSegment>queryContextTags</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Run_Pricing_Rules</name>
        <label>Run Pricing Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>runSalesforcePricing</actionName>
        <actionType>runSalesforcePricing</actionType>
        <connector>
            <targetReference>Query_Tags_Post_Rule_Run</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextInstanceId</name>
            <value>
                <elementReference>ContextId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pricingProcedureName</name>
            <value>
                <stringValue>Adjusted Tuition - Resident Students</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipDiscovery</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>runSalesforcePricing</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Query_Tags</name>
        <label>Query Tags</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QueryTags</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OI_Id__std</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QueryTags</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OI_Product2Id__std</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QueryTags</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OI_TotalPrice__std</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QueryTags</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OI_UnitPrice__std</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QueryTags</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OI_Quantity__std</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QueryTags</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Order_Pricebook2Id__std</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QueryTags</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>OI_ProductCode__std</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Order_Context</targetReference>
        </connector>
    </assignments>
    <description>Discount Tuition for Resident Students</description>
    <environments>Default</environments>
    <formulas>
        <name>ContextData</name>
        <dataType>String</dataType>
        <expression>&quot;{\&quot;Order\&quot;:[{\&quot;id\&quot;:&quot;+{!OrderId}+&quot;}]}&quot;</expression>
    </formulas>
    <interviewLabel>EDU Student Financials: Discount Tuition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EDU Student Financials: Discount Tuition</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update Academic Order with Order Details Identifier</description>
        <name>Update_Academic_Order</name>
        <label>Update Academic Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OrderDetailsIdentifier</field>
            <value>
                <elementReference>Run_Pricing_Rules.executionId</elementReference>
            </value>
        </inputAssignments>
        <object>AcademicOrder</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Query_Tags</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContextId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueryTags</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
