unpackaged/main/default/flows/Student_Information_Expire_Enrollment_Offers_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Determines whether the enrollment offer has expired by verifying if the enrollment offer expiration date is in the past.</description>
        <name>IsEnrollmentOfferExpired</name>
        <label>Is Enrollment Offer Expired?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasExpired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EnrollmentOfferExpiration</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateParticipationStatusToExpired</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Student Information: Expire Enrollment Offers   - V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Student Information: Expire Enrollment Offers   - V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Updates the course offering participant record that triggered the flow, setting the participation status to Expired Waitlist Enrollment Offer.</description>
        <name>UpdateParticipationStatusToExpired</name>
        <label>Update Participation Status to Expired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ParticipationStatus</field>
            <value>
                <stringValue>Expired Waitlist Enrollment Offer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <sourceTemplate>edulearning__ExpireEnrollmentOffers</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsEnrollmentOfferExpired</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EnrollmentOfferExpiration</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParticipationStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Eligible to Enroll from Waitlist</stringValue>
            </value>
        </filters>
        <object>CourseOfferingParticipant</object>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2025-02-06</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
