unpackaged/main/default/flows/Student_Information_Generate_Enrollment_Offers_for_Waitlisted_Courses_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Determines whether seats are available for a course by checking if the enrollment capacity is greater than the number of enrolled students.</description>
        <name>AreSeatsAvailable</name>
        <label>Are Seats Available?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasSeatsAvailable</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WaitlistStatus</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EnrollmentCapacity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EnrollmentCapacity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EnrolleeCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.EnrolleeCount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WaitlistCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.WaitlistCount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EnrollmentCapacity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.EnrolleeCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAndSendEnrollmentOffers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Student Information: Generate Enrollment Offers for Waitlisted Courses   - V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Student Information: Generate Enrollment Offers for Waitlisted Courses   - V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <sourceTemplate>edulearning__GenerateEnrlOffers</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AreSeatsAvailable</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND (3 OR 4 OR 5 OR 6) AND 7</filterLogic>
        <filters>
            <field>WaitlistStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>WaitlistStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processing Only</stringValue>
            </value>
        </filters>
        <filters>
            <field>WaitlistStatus</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EnrolleeCount</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EnrollmentCapacity</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WaitlistCount</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WaitlistCount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>CourseOffering</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Calls a flow that finds the next waitlisted student for a course offering and emails them an enrollment offer.</description>
        <name>CreateAndSendEnrollmentOffers</name>
        <label>Create and Send Enrollment Offers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>edulearning__SendEnrlOfrWaitlistedStu</flowName>
        <inputAssignments>
            <name>updatedCourseOfferingId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
